* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.main_block{
    background-color: #B8A9CF;
    margin: auto;
    width: 585px;
    height: 671px;
    border-radius: 9px;
    margin-top: 104px;
}

.reset_button{
    height: 106px;
    width: 228px;
    background-color: #f0f0f0;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    position: absolute;
    bottom: 17px;
}

.auth_form{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;;
    font-size: 20px;
    margin-top: 100px;
    background-color: #eae4eb;
    width: 450px;
    margin-left: 66px;
    border-radius: 9px;
    gap: 20px;
}

.auth_label{
    border: none;
    height: 27px;
    border-bottom: 2px solid black;
    background-color: #eae4eb;
    width: 344px;
    font-size: 20px;
}

.auth_btn{
    height: 30px;
    border: none;
    border-radius: 9px;
    margin-top: 21px;
}

.auth_btn:hover{
    cursor: pointer;
    background-color: white;
}
.wrapper{
    margin: 0 36px;
}

.auth_title{
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 56px;
}

.header{
    background-color: #655978 ;
    height: 50px;
    align-items: center;
    display: flex;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_nav_links {
    display: flex;
    gap: 100px;
}

.header_nav_a{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.header_nav_a:hover{
    color:#F5EFC3;
}

.exit{
    position: relative;
}

.add_lobrarian{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 32px 0;
}

.admin_block{
    background-color: #B8A9CF;
    width: 500px;
    height: 600px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.admin_form{
    position: relative;
    bottom: 24px;
    left: 79px;
    display: flex;
    width: 311px;
    height: 32px;
}

.submit_btn{
    border: none;
    border-radius: 9px;
    width: 254px;
    height: 55px;
    font-size: 15px;
    position: relative;
    left: 30px;
}

.div_form_admin{
    position: relative;
    right: 48px;
    font-size:18px;
}

.h3_admin{
    margin: 37px 0 14px;
}

.admin_add{
    display: flex;
    gap: 30px;
    width: 1035px;
    position: relative;
    top: 100px;
    margin: auto;
}

.search_input{
    width: 345px;
    border: none;
    border-radius: 9px;
    height: 30px;
    margin-top: 28px;
    padding: 20px;
}

.search_button{
    height: 40px;
    width: 79px;
    border-radius: 9px;
    border: none;
    background-color: white;
}

.libAdd{
    width: 500px;
    height: 600px;
    background-color: #B8A9CF;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}



.libAdd_form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
}

.libAdd_radio{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.libAdd_input{
    width: 360px;
    height: 37px;
    border: none;
    border-radius: 9px;
    padding: 10px;
}

.libAdd_radio_input{
    width: 30px;
    height: 30px;
    accent-color: #6a42a7;
    cursor: pointer;
}

.libAdd_radio_label{
    display: flex;
    gap: 10px;
    align-items: center;
}

.libAdd_btn{
    height: 45px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.annotation{
    height: 80px;
    padding-bottom: 51px;
}

.libAdd_a{
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    gap: 70px;
}

.reader_add{
    margin-top: 50px;
}

.readers_info{
    background-color: #B8A9CF;
    width: 500px;
    height: 250px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
    font-size: 20px;
}

.readers_number{
    display: flex;
    flex-direction: row-reverse;
}

.readers_cards{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
 }

.readers_search{
    width: 600px;
    background-color: #B8A9CF;
    height: 381px;
    border-radius: 9px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    scrollbar-color: #f0f3c7 #643471;

}

.readers_search_input{
    border: none;
    border-radius: 9px;
    padding: 10px;
    width: 400px;
}

.readers_search_btn{
    border: none;
    border-radius: 9px;
    padding: 10px;
    width: 160px;
    cursor: pointer;
}

.readers_books{
    background-color: #B8A9CF;
    margin-top: 20px;
    height: 450px;
    padding: 15px;
    border-radius: 9px;
}

.readers_line{
    background-color: black;
    height: 2px;
    margin: 10px 0;
}

.choise > div {
    display: none;
}
.choise > div:target {
    display: flex;
}

#bookList:target ~ #bookStatic {
    display: none;
}

#bookStatic:target ~ #bookList {
    display: none;
}


.books_bookList{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.book_search{
    background-color: #B8A9CF;
    width: 350px;
    height: 811px;
    padding: 15px;
    border-radius: 9px;
    position: relative;
}

.books_search{
    padding: 10px;
    border: none;
    border-radius: 9px;
    width: 215px;
}

.books_search_btn{
    border: none;
    border-radius: 9px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
}

.btn_books{
    left: 54px;
    height: 40px;
}

.books_main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.book_info{
    background-color: #B8A9CF;
    width: 545px;
    height: 270px;
    border-radius: 9px;
    position: relative;
}

.book_readers{
    margin-top: 20px;
    background-color: #B8A9CF;
    height: 460px;
    border-radius: 9px;
    padding: 15px;
    font-size: 20px;
}

.books_price{
    background-color: #fde5e0;
    width: 150px;
    height: 60px;
    position: absolute;
    border-radius: 9px;
    z-index: 1;
    margin-left: 450px;
}

.libAddMain > div {
    display: none;
}
.libAddMain > div:target {
    display: flex;
}

#bookForm:target ~ #authorForm {
    display: none;
}

#authorForm:target ~ #bookForm {
    display: none;
}

.bookForm{
    gap: 20px;
    margin: auto;
    padding-top: 60px;
    width: 1000px;
}

#authorForm{
    background-color: #B8A9CF;
    width: 500px;
    height: 400px;
    border-radius: 9px;
    display: flex;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
}

.AuthForm{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
    padding-top: 40px;
    align-items: center;
    font-size: 20px;
}

.AuthInput{
    height: 40px;
    border: none;
    border-radius: 9px;
    padding: 10px;
    width: 470px;
}

.AuthBtn{
    border: none;
    height: 40px;
    border-radius: 9px;
    width: 300px;
    cursor: pointer;
}

.outBlock{
    height: 300px;
    background-color: #B8A9CF;
    width: 500px;
    border-radius: 9px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.outMain{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 100px;
}

.outBottom{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 40px;
    margin-top: 80px;

    background-color: #b8a9cf;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-radius: 9px;
}

.outInput{
    border-radius: 9px;
    height: 30px;
    width: 300px;
    border: none;
    padding: 5px;
}

.outBtn{
    border: none;
    border-radius: 9px;
    height: 70px;
    font-size: 20px;
    width: 300px;
}

.admin_LibList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 24px 0;
    width: 370px;
    font-size: 20px;
    overflow-y: auto;
}



.lib_readersList{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
    margin: 15px 0;
    width: 100%;
    height: 261px;
}

.btn_readers{
    height: 40px;
    position: absolute;
    bottom: 12px;
}

.readers_info_search{
    background-color: #f0f8ff8f;
    padding: 10px;
    border-radius: 9px;
}